@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;

}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1
}

  .left-links,
  .right-links {
    display: flex; /* Ensure links are in a row */
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .left-links a, 
  .right-links a {
    text-decoration: none;
    color: gray;
    padding: 0 10px; /* Add some padding between links */
  }


  .footer{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  }
   